<h1 class="display-5">Add new post</h1>

<form>
  <div class="mb-3">
    <label class="form-label">Title</label>
    <input type="email" class="form-control">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Write your post...</label>
    <textarea class="form-control" rows="5"></textarea>
  </div>
  <button type="submit" class="btn btn-dark">Submit</button>
</form>